server:
  port: 9090

spring:
  main:
    banner-mode: off

  sql:
    init.mode: always

  jpa:
    ddl-auto: create
    show-sql: true
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"
        jdbc.time_zone: UTC
        format_sql: true

  datasource:
    driver-class-name: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:9091/stats"
    username: "stats"
    password: "1234"

logging:
  level:
    org.hibernate:
      SQL: DEBUG
      orm.jdbc.bind: trace